<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 tabheader">
                <input disabled type="text" value="0" id="inputX">
                <button id="ButtonX">X</button>
                <button id="ButtonO">O</button>
                <input disabled type="text" value="0" id="inputO">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-10">
                <table class="tic-tac-toe-table">
                    <tbody>
                        <tr>
                            <td class="tic-tac-toe-table-cell"><button class="butonexecute" (click)="players(n)">{{typeplay}}</button></td>
                            <td class="tic-tac-toe-table-cell"><button class="butonexecute" (click)="players(n)">{{typeplay}}</button></td>
                            <td class="tic-tac-toe-table-cell"><button class="butonexecute" (click)="players(n)">{{typeplay}}</button></td>
                        </tr>
                        <tr>
                            <td class="tic-tac-toe-table-cell"><button class="butonexecute" (click)="players(n)">{{typeplay}}</button></td>
                            <td class="tic-tac-toe-table-cell"><button class="butonexecute" (click)="players(n)">{{typeplay}}</button></td>
                            <td class="tic-tac-toe-table-cell"><button class="butonexecute" (click)="players(n)">{{typeplay}}</button></td>
                        </tr>
                        <tr>
                            <td class="tic-tac-toe-table-cell"><button class="butonexecute" (click)="players(n)">{{typeplay}}</button></td>
                            <td class="tic-tac-toe-table-cell"><button class="butonexecute" (click)="players(n)">{{typeplay}}</button></td>
                            <td class="tic-tac-toe-table-cell"><button class="butonexecute" (click)="players(n)">{{typeplay}}</button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>